.navbar {
	background-color: #30323f;
}

.container {
	background-color: none;
	text-align: center;
	color: #414455;
	font-family: "Arial", sans-serif;
	vertical-align: middle;
	
	
}



/*
.row {
	padding: 50px;
}

div.background {
  background: url(lampi.jpg);
}
*/

/* colors #eef7f4; #b9dfd4; #316856; <p><img class="rounded-circle" src="https://github.com/kumkvatti/kumkvatti.github.io/blob/main/logo.jpg?raw=true" alt="logo" width="150"></p> /*

/* background-image: url('ruoho.jpg'); 

Tumma sininen #414455

Tosi tumma sininen #30323f

tummin sininen #34343c

Kirkas vihreä #5f9041

Tumma vihreä #3b682d

Hyvin vaalea ruskea #d0cbc7

Vaalean ruskea #cbc6c2

Tummempi ruskea #8d7b71

Tummin ruskea #554a44

*/

.jumbotron {
	background-image: url('silta.jpg');
	background-color: #414455;
	color: #d0cbc7;
	
	font-family: "Arial", sans-serif;
	
	padding-top: 300px;
	padding-bottom: 300px;

}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	color: #3b682d;
}

a:hover {
  color: #5f9041;
}

h1 {
	text-align: center;
	font-size: 60px;
}

		
h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

body {
	background-color: #d0cbc7;
}

.footer {
	background-color: #30323f;
	text-align: center;
	color: #d0cbc7;
	font-family: "Arial", sans-serif;
	padding-top: 50px;
	padding-bottom: 60px;


}	

#linkki1, #linkki2, #linkki3, #linkki4 {
	color: #d0cbc7;
	text-decoration: none;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	font-size: 15px;
}

#linkki1:hover {
  color: #5f9041;
}
