.navbar {
	background-color: #316856;
	
}

.container {
	background-color: #b9dfd4;
	text-align: center;
	color: #20463b;
	
}

.jumbotron {
	background-image: linear-gradient(to bottom right, #e6994c, #b8997a, #999999);
	color: #20463b;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #e6994c;
}
		
h2 {
	text-align: center;
}


body {
	background-color: #eef7f4;
	font-type: georgia;
}

