.navbar {
	background-color: #316856;
	
}

.container {
	background-color: #b9dfd4;
	text-align: center;
	color: #20463b;
	font-family: Verdana, sans-serif;
	
}

.jumbotron {
	background-image: linear-gradient(to bottom right, #e6994c, #b8997a, #999999);
	color: #20463b;
	font-weight: bold;
	font-family: Verdana, sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #e6994c;
	font-family: Verdana, sans-serif;
}

h1 {
	text-align: center;
}

		
h2 {
	text-align: center;
}


body {
	background-color: #eef7f4;
}

/* colors #eef7f4; #b9dfd4; #20463b; #316856; /*