a {
	font-weight: bold;
	color: LimeGreen;
}

a:hover {
	color: Lime;
}

.footer {
	background-color: #343a40;
}

.jalka {
	color: white;
}

.jumbotron {
	background-color: #4dff4d;
}

p {
color: #343a40;
}

body  {
	background-image: linear-gradient(to right, white, #e6ffe6);

}

h1 {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

h3 {
	padding-top: 40px;
	padding-bottom: 20px;
	color: #343a40;
}

h5 {
color: white;

}

.carousel-caption {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.container {
	padding: 40px;
}

#lista {
	padding-bottom: 40px;
	padding-top: 20px;
}

.carousel-inner img {
    width: 80%;
    height: 80%;
  }

#round {
	border-radius: 50%;
	width: 50px;
}

#tieto {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
}

legend {
	font-size: 25px;
}

label {
	font-size: 15px;
}

input[type=radio] {
	padding-left: 15px;
	margin-left: 10px;
}

input[type=text] {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
}

input[type=email] {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
	
}

input[type=date] {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
	
}

input[type=select] {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
	
}
input[type=submit] {
	padding: 15px;
	margin: 10px;
	font-size: 17px;
	background-color: seagreen;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	font-weight: bold;
	border: none;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}