
/*värit*/

a {
	font-weight: bold;
	color: LimeGreen;

}

a:hover {
	color: Lime;
}

.footer {
	background-color: #343a40;
	color: white;
}

.jumbotron {
	background-color: #80ff80;
}


body  {
	background-color: #white;
	font-family: ;
}

/*fontit*/

h1 {
	padding-top: 80px;
	font-size: 80px;
	font-weight: lighter;
}


h3 {
	padding-top: 40px;
	padding-bottom: 20px;
}

h5 {
}






/*paddingit*/

.container {
	padding: 40px;
}



/* Etusivu 



*/


/* Terapiamuodot */


/* kuvat */

.carousel-inner img {
    width: 80%;
    height: 80%;
  }

#round {
	border-radius: 50%;
	width: 400px;
}
	
/* Yhteystiedot */

#tieto {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
}

legend {
	font-size: 25px;
}

label {
	font-size: 15px;
}

input[type=radio] {
	padding-left: 15px;
	margin-left: 10px;
}

input[type=text] {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
}

input[type=email] {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
}

input[type=date] {
	width: 100%;
	padding: 15px;
	margin: 10px;
	font-size: 15px;
}

input[type=submit] {
	padding: 15px;
	margin: 10px;
	font-size: 15px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}