body {
	font-family: Georgia, serif;
	background: none;
	color: black;
	text-align: center;
}
#page {
	width: 100%;
	margin: 0; padding: 0;
	background: none;
}

.img {
	
	display: none;
	
}

#navbar, #aaa, #bbb, #ccc, #ddd, {
	display: none;
}
.entry a:after {
	content: " [" attr(href) "] ";
}
#printed-article {
	border: 1px solid #666;
	padding: 10px;
}

.container {
	width: 100%
}
