Body {
	color: #006666;
	font-family: calibri;
	background-image: linear-gradient(to right, #00e6e6, ivory);
	
}

h1 {
	font-size: 55px;
}

h2 {font-size: 35px;
}


p {
	
}


ul {
	list-style-type: none;
	}
/*
#kuuntelukuva {
	width: 50%
	float: right;
		  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: 0px;
}
*/


#container {
	margin-left: auto;
	margin-right: auto;
	width:70%;
}



#header {
	background-color: black;
	padding: 30px;
	text-align: center;
	color: white;

	}

#header2 {
	
}
	
#nav {
  text-align: center;
  background-color: grey;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

a:link {
  text-decoration: none;
}

#left-column {
	float: left;
	width: 40%;
}
	
#right-column {
	float: left;
	width: 60%;
}


#section1 {
	
float: left;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
	background-color: white;
	color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: 0px;
	width: 50%;
}



#section2 {
	
	float: left;
	  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
	background-color: black;
	color: white;
	  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: 0px;
	width: 50%;
	
}

#kuva1 {
	
	float: right;
	padding: none;
  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: 0px;
	margin-right: auto;
	width: 50%;
	overflow: hidden;
	
}
*/

#footer {
	clear: left;
	background-color: grey;
	padding: 10px;
	text-align: center;
	color: white;
	  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: auto;
}

#section3 {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
	background-color: white;
	color: black;	
}

#section4 {
	
	  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
	background-color: black;
	color: white;
}

#section5 {
	padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
	background-color: white;
	color: black;	
}

#section6 {
	  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
	background-color: black;
	color: white;
}

#section7 {
	padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
	background-color: white;
	color: black;	
}

