Body {
	color: #006666;
	font-family: calibri;
	background-image: linear-gradient(to right, #00e6e6, ivory);
	margin-left: auto;
	margin-right: auto;
	width:70%;
}

h1 {
	font-size: 55px;
}

h2 {font-size: 35px;
}


p {
	
}


ul {
	list-style-type: none;
	}

#header {
	background-color: black;
	padding: 30px;
	text-align: center;
	color: white;
	  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: auto;
	}

#header2 {
	
}
	
#nav {
  text-align: center;
  background-color: grey;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: auto;
}


#section1 {
	

  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
	background-color: white;
	color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: auto;
}



#section2 {
	
	
	  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
	background-color: black;
	color: white;
	overflow: auto;
	  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: auto;
	
}

#kuva1 {
	
	float: right;
	padding: none;
  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: auto;
	
}


#footer {
	clear: left;
	background-color: grey;
	padding: 10px;
	text-align: center;
	color: white;
	  margin-top: 5px;
  margin-bottom: 5px;
  	margin-left: auto;
	margin-right: auto;
}

#section3 {
	
}

#section4 {
	
}

#section5 {
	
}

#section6 {
	
}

#section7 {
	
}


hr {
	border: 1px solid #00e6e6;
}