Body {
	color: green;
	background-color: #F0FFF0;
	font-family: calibri;
	
	
}



div.a {
	width: 800px;
}

div.b {
	width: 600px;
	text-align: right;
	position: absolute;
	right: 0;
}

div.c {
	width: 600px;
}

div.d {
	text-align: center;
}